@charset "UTF-8";

@mixin clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin inline-block() {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
