@charset "UTF-8";

@mixin clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin inline-block() {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.home-main {
    position: relative;
    z-index: 999;
    min-width: 1180px;
    min-height: 460px;
    background-image: url(/is/resource/images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.home-cnt {
    margin: 0 auto;
    width: 1100px;
    overflow: hidden;
    color: #fff;
}

.home-intro {
    min-width: 380px;
    float: left;
    h2 {
        font-size: 64px;
        height: 80px;
        font-weight: 400;
        text-indent: -999em;
        background: url(/is/resource/images/home-h2.png) no-repeat 0 50%;
    }
    h3 {
        font-size: 25px;
        height: 50px;
        font-weight: 400;
        text-indent: -999em;
        background: url(/is/resource/images/home-h3.png) no-repeat 0 50%;
    }
    p {
        font-size: 15px;
        line-height: 26px;
        padding-left: 4px;
    }
}

.home-in {
    margin-top: 20px;
    width: 380px;
    height: 76px;
    background: #26c9fe;
    border-radius: 38px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 76px;
    display: inline-block;
    &:hover {
        color: #fff;
        background: #20bcef;
    }
}

.home-part {
    float: right;
    height: 285px;
    position: relative;
    width: 500px;
}

.home-index {
    width: 141px;
    height: 141px;
    position: absolute;
    display: block;
    text-indent: -999em;
    overflow: hidden;
}

.home-index01 {
    background: url(/is/resource/images/index01.png) no-repeat;
    left: 0;
    top: 0;
}

.home-index02 {
    background: url(/is/resource/images/index02.png) no-repeat;
    left: 172px;
    top: 0;
}

.home-index03 {
    background: url(/is/resource/images/index03.png) no-repeat;
    left: 344px;
    top: 0;
}

.home-index04 {
    background: url(/is/resource/images/index04.png) no-repeat;
    left: 86px;
    top: 143px;
}

.home-index05 {
    background: url(/is/resource/images/index05.png) no-repeat;
    left: 258px;
    top: 143px;
}

.fn {
    float: none !important;
}

.wrap {
    margin: 14px 20px 0;
    min-width: 1140px;
    position: relative;
}

.pub-box {
    border: 1px solid #e3e4e4;
    box-shadow: 2px 2px 0 0 rgba(227, 228, 228, 0.8);
}

.pub-box-ps {
    padding-left: 190px;
    position: relative;
}

.pub-box-pl {
    width: 180px;
    float: left;
    position: relative;
    margin-left: -190px;
}

.pub-box-menu {
    border: 1px solid #e0e1e4;
    border-top-color: #1f97f5;
    background: #fff;
    padding: 10px;
}

.menu-ul > {
    li {
        min-height: 30px;
        > a {
            font-weight: 600;
            padding-left: 3px;
            font-size: 13px;
            display: block;
            height: 30px;
            line-height: 30px;
            color: #5e5e5e;
            border-bottom: 1px solid #edeef0;
            &:hover {
                color: #5e5e5e;
            }
            &.on {
                color: #158deb;
            }
        }
    }
    .active > a {
        color: #158deb;
        &:hover {
            color: #158deb;
        }
    }
}

.sub-ul {
    padding: 2px 0;
    > li {
        min-height: 26px;
        > a {
            font-size: 12px;
            display: block;
            line-height: 26px;
            color: #5e5e5e;
            > .icon-faq-list {
                margin: 9px 6px 0 3px;
            }
            &.on {
                color: #158deb;
                > .icon-faq-list {
                    background-position: 0 -10px;
                }
            }
            &:hover {
                color: #158deb;
                > .icon-faq-list {
                    background-position: 0 -10px;
                }
            }
        }
    }
    span {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        vertical-align: top;
    }
    > .cur > a {
        color: #158deb;
        &:hover {
            color: #158deb;
        }
        .icon-faq-list {
            background-position: 0 -10px;
        }
    }
}

.pub-box-plb {
    margin-top: 5px;
    border-top: 1px solid #e0e1e4;
    padding-top: 5px;
}

.link-ul {
    li {
        min-height: 22px;
    }
    a {
        line-height: 22px;
        display: block;
    }
    .blue-a {
        color: #1a69b9;
        &:hover {
            color: #1a69b9;
            text-decoration: underline;
        }
    }
    .gray-a {
        color: #868686;
        &:hover {
            color: #868686;
            text-decoration: underline;
        }
    }
}

.pub-box-t {
    border-bottom: 1px solid #e0e0e0;
    background: #f7f8f8;
    border-top: 1px solid #fff;
    min-height: 41px;
    position: relative;
    h2 {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 600;
        color: #555;
        float: left;
        span {
            display: inline-block;
            height: 41px;
            line-height: 38px;
            vertical-align: top;
        }
        a {
            color: #118fe4;
            font-size: 12px;
            height: 31px;
            line-height: 31px;
            display: inline-block;
            vertical-align: top;
            font-weight: 400;
            margin-left: 10px;
        }
    }
}

.pub-op-a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

.index-list .pub-box-op {
    float: none;
    position: absolute;
    top: 3px;
    right: 5px;
}

.pub-box-c {
    background: #fff;
}

.index-filter {
    background: #ffffff;
    border-left: 1px solid #e3e4e4;
    border-right: 1px solid #e3e4e4;
    min-height: 30px;
    padding: 6px 20px;
}

.index-filter-elem {
    overflow: hidden;
    min-height: 24px;
}

.index-detail {
    position: relative;
    min-height: 300px;
}

.detail-elem {
    border-bottom: 1px dotted #e2e2e2;
    margin-bottom: 10px;
}

.detail-edit {
    float: right;
    display: none;
    font-weight: 400;
    font-size: 12px;
    &:hover {
        text-decoration: underline;
    }
}

.detail-sub {
    float: right;
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
    padding-right: 12px;
    color: #0187e2;
    cursor: pointer;
    i {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #8b939e;
        vertical-align: middle;
        position: relative;
        left: 4px;
    }
}

.detail-sub-no {
    float: right;
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
}

.detail-sub-opt {
    position: absolute;
    right: 0;
    top: 24px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #d8dbde;
    border-radius: 2px;
    padding: 5px 0;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    display: none;
}

.detail-elem .detail-sub-opt {
    ul {
        padding-bottom: 0;
    }
    li {
        width: 100%;
        cursor: pointer;
        padding: 0 10px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        color: #555;
        float: none;
        &:hover {
            background: #E4E0E0;
        }
    }
}

.index-detail .detail-elem:last-child {
    border-bottom: 0 none;
}

.detail-elem {
    h3 {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        color: #555;
        padding-left: 6px;
        position: relative;
        &:before {
            position: absolute;
            top: 9px;
            left: 0;
            display: inline-block !important;
            background: #25a1f5;
            width: 3px;
            height: 11px;
            content: '';
        }
    }
    ul {
        overflow: hidden;
        padding-bottom: 10px;
    }
    li {
        overflow: hidden;
        width: 50%;
        float: left;
        min-height: 26px;
    }
    .full {
        width: 100%;
    }
}

.full-ul li {
    width: 100%;
}

.detail-elem li {
    strong {
        color: #888;
        float: left;
        line-height: 26px;
        min-width: 60px;
        text-align: right;
        font-weight: 400;
    }
    span {
        max-width: 85%;
        float: left;
        line-height: 26px;
    }
    pre {
        max-width: 90%;
        float: left;
        line-height: 26px;
        font-family: Tahoma, microsoft yahei, "微软雅黑", "宋体";
        color: #555;
        word-break: break-all;
        /*支持IE，chrome，FF不支持*/
        word-wrap: break-word;
        /*支持IE，chrome，FF*/
    }
}

.search {
    float: right;
    height: 25px;
    margin: 5px 5px 0 0;
    position: relative;
}

.icon-search {
    width: 13px;
    height: 13px;
    display: block;
    background: url(../img/search.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 6px;
    top: 7px;
    &:hover {
        background-position: 0 -13px;
    }
}

.search-input {
    border-radius: 3px;
    width: 150px;
    border: 1px solid #d3d3d3;
    height: 19px;
    font-size: 12px;
    color: #555;
    line-height: 19px;
    padding: 2px 10px;
    background: #fff;
    &:focus {
        outline: 0 none;
        border-color: #8FB1E8;
    }
}

.index-list {
    border: 0 none;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    .pub-box-t {
        background: #ffffff;
        border-left: 1px solid #e3e4e4;
        border-right: 1px solid #e3e4e4;
        border-top: 1px solid #acb3bb;
        border-bottom: 0 none;
        min-height: 35px;
        overflow: hidden;
        h2 {
            position: absolute;
            top: 0;
            left: 0;
            height: 41px;
            line-height: 39px;
            font-weight: 400;
            font-size: 14px;
            color: #555;
            min-width: 56px;
        }
    }
}

.index-banner {
    background-image: url(/is/resource/images/index-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    position: relative;
}

.banner-info {
    position: absolute;
    right: 12px;
    height: 26px;
}

.banner-close {
    margin: 4px 0 0 40px;
    float: right;
    width: 18px;
    height: 18px;
    text-indent: -999em;
    overflow: hidden;
    background: url(/is/resource/images/banner-close.png) no-repeat;
}

.banner-person {
    height: 24px;
    float: right;
    padding: 0 12px;
    border: 1px solid #83aedf;
    border-radius: 13px;
    line-height: 24px;
    color: #004aae;
    margin-left: 8px;
}

.pub-tab {
    margin-bottom: 10px;
}

.pub-tab-t {
    height: 34px;
    margin-bottom: 10px;
    border: 1px solid #dfe1e3;
    border-bottom-color: #1f97f5;
    border-left: 0 none;
    position: relative;
    background: #fff;
    ul {
        position: absolute;
        left: -1px;
        top: -1px;
    }
    li {
        float: left;
        position: relative;
        border: 1px solid #dfe1e3;
        border-bottom-color: #1f97f5;
        margin-left: -1px;
        z-index: 1;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            min-width: 60px;
            padding: 0 20px;
            height: 34px;
            font-size: 15px;
            line-height: 34px;
            color: #555;
            text-align: center;
            &:hover {
                color: #25a1f5;
            }
        }
    }
    .cur {
        z-index: 2;
        border-color: #1f97f5;
        a {
            background: #1f97f5;
            color: #fff;
            position: relative;
            &:hover {
                background: #1f97f5;
                color: #fff;
                position: relative;
            }
            &:before {
                position: absolute;
                bottom: -12px;
                left: 50%;
                margin-left: -3px;
                display: inline-block !important;
                border-width: 6px;
                border-style: solid;
                border-color: #25a1f5 transparent transparent transparent;
                width: 0;
                height: 0;
                content: '';
            }
        }
    }
}

.pub-tab-c {
    background: #fff;
    border: 1px solid #e3e4e4;
    padding: 0 14px;
    display: none;
}

.index-class-t {
    height: 38px;
    border-bottom: 1px solid #e0e0e0;
    h3 {
        float: left;
        font-weight: 400;
        line-height: 38px;
        strong {
            font-weight: 600;
        }
    }
}

.index-class-a {
    float: right;
    height: 20px;
    margin: 12px 0 0 0;
    color: #25a1f5;
    &:hover {
        float: right;
        height: 20px;
        margin: 12px 0 0 0;
        color: #25a1f5;
    }
    span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        vertical-align: top;
    }
    i {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #25a1f5;
        width: 4px;
        height: 4px;
        overflow: hidden;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -moz-transform: rotate(45deg);
        /* Firefox */
        -webkit-transform: rotate(45deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(45deg);
        /* Opera */
        margin-left: 5px;
        margin-top: 7px;
        vertical-align: top;
    }
}

.index-class-ab i {
    border-width: 1px 0 0 1px;
    margin-top: 10px;
}

.index-class-c {
    padding: 5px 0;
    color: #686868;
    li {
        padding: 2px 0;
        min-height: 26px;
        overflow: hidden;
    }
    em {
        float: left;
        color: #25a1f5;
        line-height: 28px;
        margin-right: 4px;
        font-size: 18px;
        overflow: hidden;
        height: 26px;
    }
    p {
        float: left;
        line-height: 26px;
        max-width: 98%;
    }
    .beyond {
        display: none;
    }
    li {
        .faq-edit {
            display: none;
        }
        .faq-del {
            display: none;
        }
        &:hover .faq-edit {
            display: inline-block;
        }
        &:hover .faq-del {
            display: inline-block;
        }
    }
}

.filter-list {
    min-height: 30px;
    margin: 5px 0px 5px 90px;
    overflow: hidden;
    padding-left: 10px;
    border-left: 1px solid #e3e4e4;
    .search {
        float: left;
        margin: 2px 0 0 0;
    }
}

.filter-elem {
    float: left;
    margin: 2px 20px 3px 0;
    .filter-text {
        display: inline-block;
        line-height: 25px;
        vertical-align: top;
    }
}

.filter-list-index {
    margin-right: 190px;
    .filter-text {
        width: 60px;
        text-align: right;
    }
}

.search-text {
    display: inline-block;
    width: 60px;
    text-align: right;

}

.index-tbl .index-tbl-a {
    margin-right: 10px;
}

/*固定表头部*/

.index-tbl-head-fix {
    left: 210px;
    position: fixed;
    top: 0;
    display: none;
    height: 28px;
    overflow: hidden;
}

.manage-tbl {
    td {
        max-width: 300px;
        min-width: 50px;
        padding-right: 6px;
    }
    tr td:last-child {
        white-space: nowrap;
    }
    .f_url {
        word-break: break-word;
    }
    td.check-t {
        text-align: center;
        width: 70px;
        padding-left: 0;
        padding-right: 0;
    }
    th.check-t {
        text-align: center;
        width: 70px;
        padding-left: 0;
    }
}

.moni-box {
    padding: 20px 0;
    background: #fff;
    color: #3d495d;
    .selectbox {
        margin: 0;
    }
    select {
        height: 28px;
        line-height: 26px;
        min-width: 200px;
        padding: 0 5px;
    }
}

.moni-elem {
    min-height: 28px;
    margin-bottom: 10px;
    overflow: hidden;
}

.moni-elem-txarea {

}

.moni-elem-sug {

}

.moni-elem-upld {

}

.moni-label {
    width: 120px;
    text-align: right;
    float: left;
    line-height: 28px;
    vertical-align: top;
}
.moni-ipt{
    border-radius: 2px;
    width: 76px;
    border: 1px solid #d3d3d3;
    height: 19px;
    font-size: 12px;
    color: #555;
    line-height: 19px;
    padding: 2px 10px;
    background: #fff;
    &:focus{
        outline:0;
    }
}

.moni-elem-r {
    float: left;
    position: relative;
}

.moni-elem-rb {
    width: 200px;
}

.input-text {
    font: 12px/1.6 "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #3d495d;
    width: 180px;
    padding: 0 9px;
    border: 1px solid #bcc3cc;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    color: #3d495d;
}

.error-text {
    border-color: #f00;
    &:focus {
        outline: none;
    }
}

.input-text-s {
    width: 42px;
}

.input-text-m {
    width: 180px;
}

.input-text-l {
    width: 580px;
}

.txarea {
    width: 500px;
    border: 1px solid #bcc3cc;
    border-radius: 2px;
    padding: 5px 9px;
    font: 12px/1.6 "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #3d495d;
}

.input-cbox {

}

.error-txarea {
    border-color: #f00;
    &:focus {
        outline: none;
    }
}

.error-dim {
    border: 1px solid #f00;
}

.input-radio {
    width: 12px;
    height: 12px;
    margin: 9px 3px 0 0;
    vertical-align: top;
}

.label-radio {
    display: inline-block;
    line-height: 28px;
    margin-right: 20px;
    vertical-align: top;
    color: #3d495d;
}

.label-dis {
    color: #afb3b9;
}

.span-mark {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 20px;
}

.moni-elem-sp {
    position: absolute;
    right: 10px;
    top: 0;
    display: inline-block;
    line-height: 28px;
}

.moni-submit {
    background: #f4f5f7;
    padding: 16px 20px;
    height: 28px;
    .btn-blue-m, .btn-gray-m {
        margin-right: 10px;
        padding: 0 14px;
        height: 28px;
    }
    .btn-blue-m span, .btn-gray-m span {
        line-height: 28px;
        font-size: 14px;
    }
}

.disable-op {
    color: #999;
    text-decoration: none;
    &:hover {
        color: #999;
        text-decoration: none;
    }
}

body .phiselecter .phis_head label {
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    border-radius: 0;
    margin-right: 10px;
}

.op-his {
    height: 31px;
    line-height: 31px;
    margin-right: 10px;
    display: inline-block;
}

.his-tbl {
    width: 100%;
    border-collapse: collapse;
    th {
        height: 30px;
        background: #F5F8F9;
        border: 1px solid #E6E8EB;
        font-weight: 400;
        text-align: left;
        padding-left: 16px;
        &:first-child {
            width: 15%;
        }
    }
    td {
        padding: 5px 0 5px 16px;
        min-height: 30px;
        border: 1px solid #E6E8EB;
        background: #fff;
        text-align: left;
        vertical-align: top;
    }
    li strong {
        color: #888;
        float: left;
        line-height: 26px;
        min-width: 60px;
        text-align: right;
        font-weight: 400;
    }
    .old strong {
        color: #aaa;
    }
    li {
        overflow: hidden;
        span {
            max-width: 80%;
            float: left;
            line-height: 26px;
        }
        del {
            max-width: 80%;
            float: left;
            line-height: 26px;
            color: #f00;
        }
        pre {
            max-width: 80%;
            float: left;
            line-height: 26px;
            font-family: Tahoma, microsoft yahei, "微软雅黑", "宋体";
            color: #555;
        }
    }
}

.detail-content {
    margin-right: 400px;
    padding: 10px 20px;
}

.detail-comments {
    width: 360px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #e0e0e0;
    overflow-y: auto;
}

.comment-t {
    padding-top: 10px;
    height: 24px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    h3 {
        position: absolute;
        bottom: -1px;
        height: 24px;
        line-height: 24px;
        border-bottom: 1px solid #25a1f5;
        font-size: 14px;
        font-weight: 400;
    }
}

.comment-total {
    float: right;
    line-height: 24px;
    font-size: 12px;
    em {
        font-weight: 700;
    }
}

.comment-m {
    margin: 10px 0 0;
    border: 1px solid #e8e8e8;
    textarea {
        border: 0 none;
        vertical-align: top;
        padding: 10px 10px;
        width: 94%;
        &:focus {
            border: 0 none;
            outline: none;
        }
    }
}

.comment-mc {
    border-color: #25a1f5;
}

.comment-submit {
    border-top: 1px solid #e8e8e8;
    padding: 5px;
    text-align: right;
    a {
        vertical-align: top;
    }
}

.comment-ul {
    li {
        border-bottom: 1px solid #e8e8e8;
    }
    .no-comment {
        color: #999;
        line-height: 24px;
        border-bottom: 0 none;
    }
}

.comment-content {
    padding: 5px 0;
    border-bottom: 1px dashed #e2e2e2;
}

.comment-ul li .comment-content:last-child {
    border-bottom: 0 none;
}

.comment-content-t {
    height: 30px;
    line-height: 30px;
    em {
        font-weight: 700;
        color: #4e6584;
        float: left;
    }
    .gray {
        color: #999;
        float: left;
        margin-left: 20px;
    }
    .reply {
        float: right;
    }
}

.comment-content {
    .txarea {
        width: 90%;
        vertical-align: top;
    }
    p {
        line-height: 22px;
    }
}

.reply-elem {
    padding: 5px 0;
    textarea {
        border: 1px solid #e8e8e8;
        width: 100%;
        vertical-align: top;
        &:focus {
            border-color: #25a1f5;
            outline: none;
        }
    }
    p {
        padding: 5px 0 0;
        text-align: right;
    }
    .btn-blue-m {
        vertical-align: top;
    }
}

.highlight {
    background: #fffa7a;
}

.sel {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    .sel_input {
        padding-left: 9px;
        color: #444444;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
    }
    .sel_icon {
        height: 30px;
        display: inline-block;
        width: 25px;
        position: absolute;
        left: 175px;
        border-left: 1px solid #ccc;
        i {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            display: inline-block;
            position: absolute;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent;
            border-top: 4px solid #8b939e;
            right: 8px;
            top: 48%;
        }
    }
}

.pl_selected label {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 4px 12px 0 12px;
}

.moni-elem-p {
    overflow: hidden;
    min-height: 28px;
}

.pl_selected_p {
    margin-left: 120px;
    overflow: hidden;
    zoom: 1;
}

/*上传*/

.webuploader-container {
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #0087e6;
    padding: 0 14px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    height: 24px;
    padding-top: 6px;
}

.webuploader-pick-hover {
    background: #007dd5;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

.btn {
    margin-left: 12px;
    padding-top: 6px;
    color: #fff;
    border: 0 none;
    border-radius: 2px;
    background: #0087e6;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
    cursor: pointer;
    text-align: center;
    font-family: '微软雅黑';
}

.choose-file {
    float: left;
}

.wu-example {
    width: 400px;
}

.item {
    position: relative;
}

.state {
    overflow: hidden;
    padding-left: 20px;
}

.info {
    float: left;
    font-weight: 400;
    font-size: 12px;
}

.uploader-list {
    padding-top: 4px;
    padding-bottom: 8px;
}

.file_del {
    position: absolute;
    right: 0;
    top: 0;
}

.attach_link {
    margin-right: 12px;
}

.faq-wrap {
    min-width: 930px;
    margin-left: 210px;
}

.faq-search {
    margin: 10px 0;
    height: 26px;
    width: 174px;
    position: relative;
}

.icon-faq-search {
    width: 13px;
    height: 13px;
    display: block;
    background: url(/is/resource/images/search.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 7px;
    &:hover {
        background-position: 0 -13px;
    }
}

.faq-search-input {
    border-radius: 13px;
    width: 152px;
    border: 1px solid #d3d3d3;
    height: 22px;
    font-size: 12px;
    color: #555;
    line-height: 12px;
    padding: 2px 10px;
    background: #fff;
    &:focus {
        outline: 0 none;
        border-color: #8FB1E8;
    }
}

.faq-left {
    position: relative;
    margin-left: -210px;
    width: 198px;
    border: 1px solid #e0e1e4;
    float: left;
    background: #fff;
    min-height: 460px;
}

.faq-left-t {
    border-top: 1px solid #fff;
    height: 31px;
    line-height: 31px;
    background: #f3f3f4;
    font-size: 13px;
    color: #686868;
    border-bottom: 1px solid #d4d5d9;
    position: relative;
    &:before {
        position: absolute;
        width: 6px;
        height: 6px;
        display: inline-block;
        overflow: hidden;
        background: #f3f3f4;
        border-right: 1px solid #d4d5d9;
        border-bottom: 1px solid #d4d5d9;
        bottom: -4px;
        right: 27px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -moz-transform: rotate(45deg);
        /* Firefox */
        -webkit-transform: rotate(45deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(45deg);
        /* Opera */
        content: '';
    }
    h2 {
        line-height: 31px;
        font-weight: 400;
        text-align: center;
    }
}

.faq-left-c {
    padding: 0 10px;
    max-height: 428px;
    overflow-y: auto;
    h3 {
        border-bottom: 1px solid #edeef0;
        font-size: 13px;
        color: #444;
        height: 24px;
        line-height: 24px;
        padding: 6px 6px 0;
    }
}

.faq-left-ul {
    li {
        height: 30px;
    }
    a {
        display: block;
        height: 30px;
        color: #444444;
    }
    span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: top;
    }
}

.icon-faq-list {
    width: 10px;
    height: 9px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url(../img/icon-faq-list.png) no-repeat 0 0;
    vertical-align: top;
}

.faq-left-ul {
    .icon-faq-list {
        margin: 11px 6px 0 6px;
    }
    .cur {
        a {
            color: #008ceb;
        }
        .icon-faq-list {
            background-position: 0 -10px;
        }
    }
}

.faq-content {
    border: 1px solid #e0e1e4;
    background: #fff;
    min-height: 460px;
    color: #444;
    position: relative;
}

.faq-content-t {
    height: 32px;
    border-bottom: 1px solid #e0e1e4;
    h3 {
        height: 32px;
        padding-left: 12px;
        font-weight: 700;
        font-size: 14px;
        float: left;
        span {
            display: inline-block;
            vertical-align: top;
            line-height: 32px;
            height: 32px;
        }
        i {
            font-weight: normal;
            font-style: normal;
            font-size: 12px;
        }
    }
    .icon-faq-content {
        width: 3px;
        height: 12px;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        background: #25a1f5;
        vertical-align: top;
        margin: 10px 3px 0 0;
        display: inline-block;
    }
}

.faq-content-c {
    position: relative;
    padding: 10px 18px;
}

.faq-content-list li {
    min-height: 48px;
    border-bottom: 1px dotted #dedede;
    color: #686868;
    padding: 5px 0;
    &:last-child {
        border-bottom: 0 none;
    }
}

.faq-edit {
    margin-left: 20px;
    margin-right: 12px;
    display: none;
}

.faq-del {
    display: none;
}

.faq-content-list {
    li:hover .faq-edit {
        display: inline;
    }
    li:hover .faq-del {
        display: inline;
    }
    .data-loading {
        height: 24px;
        line-height: 24px;
        border-bottom: 0 none;
    }
    .faq-question {
        padding: 2px 0;
        line-height: 20px;
    }
    .faq-answer {
        padding: 2px 24px;
        line-height: 20px;
    }
    .faq-question:before {
        content: '问：';
    }
    .faq-answer:before {
        display: inline-block;
        float: left;
        content: '答：';
    }
}

body .calendar_head_noborder .calendar_date {
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    color: #3d495d;
    padding-left: 4px;
    background: url(../img/icon_con_date.png) no-repeat 94% 50%;
    &:hover {
        background: url(../img/icon_con_date.png) no-repeat 94% 50%;
    }
}

.warn_tbl {
    overflow-y: auto;
    max-height: 300px;
    min-height: 100px;
}

.warn_table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    border-collapse: collapse;
    th {
        padding: 7px 16px;
        font-size: 12px;
        height: 16px;
        line-height: 16px;
        border-top: 1px solid #e8ebed;
        border-right: 1px solid #e8ebed;
        font-weight: 400;
        white-space: nowrap;
        background: #f1f3f5;
        color: #545454;
    }
    td {
        border-top: 1px solid #e8ebed;
        border-right: 1px solid #e8ebed;
        border-bottom: 1px solid #e8ebed;
        padding: 7px 16px;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        div {
            line-height: 22px;
            color: #545454;
        }
    }
    .f_reason {
        line-height: 22px;
    }
    .remark_detail {
        word-wrap: break-word;
        word-break: break-all;
    }
    .td-rule {
        padding-right: 8px;
    }
}

.phdialog.bft {
    border: none;
    padding: 0;
    .title_phdialog {
        border-bottom: none;
        height: 33px;
        line-height: 33px;
        background: #33a1ee;
        padding: 0;
        padding-left: 16px;
        padding-bottom: 0;
        color: #fff;
    }
    .close_phdialog {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 10px;
        top: 8px;
        background: url(/report/resource/images/icon_delay_close.png) -5px -5px;
        &:hover {
            background-position: -31px -5px;
        }
    }
    .calendar_head_noborder .calendar_date {
        background: url("/report/resource/images/icon_con_date.png") no-repeat 94% 50%;
        border: 1px solid #dadada;
    }
    .cnt_phdialog {
        margin-top: 0;
        border: 1px solid #ebebeb;
        border-top: none;
    }
    .cnt_footer {
        text-align: right;
        border-top: none;
        height: 34px;
        padding: 0;
        padding-right: 10px;
        border-top: 1px solid #dcdde1;
        button {
            outline: none;
            padding: 0px 14px;
            height: 24px;
            cursor: pointer;
            font: 12px/1.6 "Microsoft Yahei", Arial, Helvetica, sans-serif;
            margin-top: 5px;
        }
        .confirm {
            color: white;
            background-color: #33a1ee;
            border: 1px solid #33a1ee;
        }
        .cancel {
            color: #5e545e;
            background-color: whitesmoke;
            border: 1px solid #dcdde1;
            margin: 0 0 0 6px;
        }
    }
    .btns_phdislog {
        text-align: right;
        height: 34px;
        padding: 0;
        padding-right: 10px;
        border-top: 1px solid #dcdde1;
        input {
            outline: none;
            padding: 0px 14px;
            height: 24px;
            cursor: pointer;
            font: 12px/1.6 "Microsoft Yahei", Arial, Helvetica, sans-serif;
            margin-top: 5px;
            &:first-child {
                color: white;
                background-color: #33a1ee;
                border: 1px solid #33a1ee;
            }
            &:last-child {
                color: #5e545e;
                background-color: whitesmoke;
                border: 1px solid #dcdde1;
                margin: 0 0 0 6px;
            }
        }
    }
    .tbl-loading {
        margin-top: 0;
        top: -14px;
        height: auto;
    }
    .tbl-alphe {
        height: auto;
    }
}

.index-tbl {
    .check-cb {
        margin-top: 8px;
    }
    .f_platform {
        position: relative;
    }
    .td-nodata {
        text-align: center;
    }
    .field {
        white-space: nowrap;
        padding-right: 14px;
    }
    .opt-bug {
        min-width: 60px;
    }
    .pre {
        padding-right: 40px;
    }
    .psrr {
        position: relative;
    }
    .psa {
        position: absolute;
        right: 8px;
        top: 0px;
    }
}

.gri_pg {
    padding-right: 0;
    padding: 13px 0 13px;

    .show {
        margin: 0;
        float: right;
        .ipt_show {
            height: 28px;
            margin-top: 0;
            border: 1px solid #dce4ec;
            margin-left: 10px;
            color: #008bec;
            padding-left: 4px;
            &:focus {
                outline: none;
                border: 1px solid #72c2f9;
            }
        }
        select {
            -webkit-appearance: none;
            option {
                color: #222;
            }
        }
        .gri_datatable_pg_rowcount {
            position: relative;
            i {
                display: inline-block;
                width: 7px;
                height: 4px;
                background: url(/pharos/resource/images/icon_bft-pg.png) 0 -44px;
                position: absolute;
                top: 9px;
                right: 9px;
            }
        }
    }
    .pg {
        border: none;
        .first {
            display: none;
        }
        .end {
            display: none;
        }
        .current {
            background: #33a1ee;
            color: #fff;
            margin-top: 0;
            border: none;
            height: 28px;
            padding-left: 11px;
        }
        a {
            background: #fff;
        }
        a, span, strong {
            height: 26px;
            line-height: 26px;
            color: #008bec;
            border: 1px solid #dce4ec;
            margin-left: 1px;
            padding: 0px 9px 0 10px;
        }
        a:hover {
        }
        a:active {
        }
        .i_pg_l {
            width: 7px;
            height: 12px;
            background: url(/pharos/resource/images/icon_bft-pg.png) 0 0;
            margin-top: 7px;
        }
        .i_pg_n {
            width: 7px;
            height: 12px;
            background: url(/pharos/resource/images/icon_bft-pg.png) 0 -22px;
            margin-top: 7px;
        }
    }
}

.all-pg {
    padding-right: 40px;
}

.tbl-loading .tbl-alphe {
    height: 100%;
}

.index-auth-sub {
    position: absolute;
    top: 28px;
    left: 12px;
}

.manage-menu-ul {
    > li {
        position: relative;
        border-bottom: 1px solid #edeef0;
        > a {
            border-bottom: none;
        }
    }
    .index-auth {

    }
    .index-auth-subul {
        margin: -6px 0 0 16px;
    }
    .index-auth-li {
        height: 30px;
        overflow: hidden;
        transition: height .1s ease-in;
        &:hover {
            height: 80px;
        }
    }
}

.pub-box-opb {
    float: left;
    margin: 2px 0 0 0;
}

.dialog-box {
    padding: 30px 0;
}

.dialog-p {
    min-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #333;
    padding: 0 10px;
}

.dialog-p span {
    display: inline-block;
    text-align: left;
    padding: 5px 0;
    line-height: 20px;
    vertical-align: top;
    max-width: 400px;
    word-wrap: break-word;
}

.icon-dialog-w, .icon-dialog-s {
    vertical-align: top;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(/open/resource/images/icon-dialog.png) no-repeat 0 0;
    margin-right: 8px;
    margin-left: -15px;
}

.icon-dialog-s {
    background-position: 0 -30px;
}

.pub-box-auth {
    background: #fff;
    min-height: 600px;
    padding-left: 20px;
    border: 1px solid #e0e1e4;
    .auth-tbl {
        width: 60%;
    }
    .auth-btn {
        padding: 10px 0;
    }
    .auth-info {
        margin-bottom: 10px;
        border: 1px solid #e3e4e4;
        margin-right: 20px;
        padding-left: 16px;
    }
    .auth-info-line {
        line-height: 32px;
    }
    .auth-info-elem {
        display: inline-block;
        width: 290px;
        label {
            display: inline-block;
            width: 60px;
            text-align: right;
        }
    }
}

.ret {
    margin-top: 4px;
}

.download-excel {
    line-height: 32px;
}

.download-btns {
    margin-left: 120px;
}

.effect-time {

}

.page-980 {
    min-width: 1280px;
}

.bug_footer {
    padding: 6px 16px;
    text-align: right;
    border-top: 1px solid #ebebeb;
    button {
        outline: none;
        padding: 4px 12px;
        cursor: pointer;
    }
    .bug_confirm {
        color: white;
        background-color: rgb(51, 161, 238);
        border: 1px solid rgb(51, 161, 238);
        margin-left: 5px;
        &:hover {
            background-color: #1694ec;
            border: 1px solid #1694ec;
        }
    }
    .bug_cancel {
        color: rgb(94, 84, 94);
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(220, 221, 225);
        margin-left: 5px;
        &:hover {
            background-color: #eaeaea;
            border: 1px solid #d4d5d7;
        }
    }
}

.bug-title {
    padding-left: 10px;
    vertical-align: bottom;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.txarea-bug {
    padding-left: 10px;
    width: 550px;
    margin-left: 10px;
    height: 138px;
}

label.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    max-width: 100%;
    vertical-align: middle;
    cursor: pointer;
    input[type=radio] {
        position: absolute;
        margin-left: -20px;
        margin-top: 4px;
    }
}

.moni-interface {
    top: 4px;
    > label {
        margin-right: 12px;
    }
}

.manage-tbl pre {
    height: 20px;
    padding-right: 24px;
}

.t-rule {
    position: relative;
    &:hover {
        pre {
        }
        .rule_expand {
            display: inline-block;
        }
    }
}

/*系统管理业务逻辑展开按钮*/
.rule_expand {
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
}

.moni-box-conf {
    .phiselecter {
        width: auto;
    }
}

.required {
    color: #f00;
    vertical-align: middle;
    margin-right: 4px;
}

.index-tbl-search {
    pre {
        padding-right: 32px;
    }
    .psa {
        top: 4px;
    }
}

.dialog-alpha {
    position: fixed;
}

.dialog_footer {
    padding: 6px 8px;
    text-align: right;
    border-top: 1px solid #ebebeb;
    button {
        outline: none;
        cursor: pointer;
        font: 12px/1.6 "Microsoft Yahei", Arial, Helvetica, sans-serif;
        padding: 0px 14px;
        height: 24px;
        cursor: pointer;
    }
    .dialog_confirm {
        color: white;
        background-color: rgb(51, 161, 238);
        border: 1px solid rgb(51, 161, 238);
        margin-left: 5px;
        &:hover {
            background-color: #1694ec;
            border: 1px solid #1694ec;
        }
    }
    .dialog_cancel {
        color: rgb(94, 84, 94);
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(220, 221, 225);
        margin-left: 5px;
        &:hover {
            background-color: #eaeaea;
            border: 1px solid #d4d5d7;
        }
    }
}
#footer {
    padding-bottom: 10px;
    padding-top: 10px;
    margin:0 auto;
}