html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe, hr {
    margin: 0;
    padding: 0;
}
body {
    background: #f2f2f2;
    color: #555;
    font: 12px/1.6 Tahoma, microsoft yahei, "微软雅黑", "宋体";
}
fieldset, img {
    border: 0;
}
address, caption, cite, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul, li {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
select, input, label, button, textarea {
    margin: 0;
    padding: 0;
    font: normal "微软雅黑", Arial, Simsun;
    overflow: visible;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    overflow: hidden;
}
a, a:hover {
    color: #0187e2;
    text-decoration: none;
}
.nav-top {
    min-width: 1180px;
    height: 25px;
    line-height: 25px;
    background: #25a1f5;
    color: #fff;
}
.nav-top .cnt {
    height: 25px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav-top .cnt a {
    color: #fff;
}
.nav-top .cnt .tips-welcome {
    float: left;
}
.nav-top .cnt .nav {
    float: right;
}
.nav-top .cnt .nav li {
    float: left;
    padding: 0 5px;
    font-size: 12px;
}
.nav-top .cnt .nav li a {
    text-decoration: none;
    position: relative;
    font-size: 12px;
}
.nav-top .cnt .nav li span.down {
}
.nav-head {
    min-width: 1180px;
    height: 60px;
    margin: auto;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #d9dcde;
    box-shadow: 0 1px 3px 1px #d9dcde;
}
.nav-head .cnt {
    min-width: 1180px;
    height: 60px;
    position: relative;
    margin: 0 auto;
}
.nav-head .cnt .logo {
    position: absolute;
    top: 6px;
    left: 20px;
    height: 47px;
}
.nav-head .cnt .pro-name {
    position: absolute;
    top: 16px;
    left: 140px;
    color: #FFF;
    font-size: 18px;
    padding: 0 20px 0 20px;
    background: url(../img/bg_logosplit.gif) 12px 12px no-repeat;
}
.nav-head .cnt .nav {
    height: 61px;
    top: 0;
    left: 250px;
    position: absolute;
}
.nav-head .cnt .nav li {
    position: relative;
    float: left;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #d9dcde;
    border-right: 1px solid #efefef;
}
.nav-head .cnt .nav li:first-child {
    border-left: 1px solid #efefef;
}
.nav-head .cnt .nav .cur {
    border-bottom-color: #25a1f5;
}
.nav-head .nav li a {
    color: #555;
    line-height: 30px;
    display: block;
    min-width: 60px;
    text-align: center;
    padding: 15px 20px;
    height: 30px;
    text-decoration: none;
    overflow: auto;
}
.nav-head .nav .cur a:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    display: inline-block !important;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #25a1f5 transparent;
    width: 0;
    height: 0;
    content: '';
}
.nav-head .cnt .nav .cur a {
    color: #118fe4;
}
.nav-head .nav li a:hover {
    color: #118fe4;
}
#main {
    min-width: 1180px;
    overflow: hidden;
    background: #f9f9fa;
    border-bottom: 1px solid #e7e9eb;
}
.footer {
    min-width: 1180px;
    padding: 10px 0;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    position: relative;
}
.col1 {
    width: 100%;
}
.col2 {
    width: 50%;
}
.col3 {
    width: 33.3%;
}
.col4 {
    width: 25%;
}
.col5 {
    width: 20%;
}
.col6 {
    width: 16.7%;
}
.col7 {
    width: 14.3%;
}
.col8 {
    width: 12.5%;
}
.col9 {
    width: 11.1%;
}
.col10 {
    width: 10%;
}
.col11 {
    width: 9%;
}
.col12 {
    width: 8.33%;
}
.col13 {
    width: 7.7%;
}
.col14 {
    width: 7.14%;
}
.col15 {
    width: 6.6%;
}
.col16{
    width:16.7%;
}
.col17{
    width:25%;
}
.th15{

}
.th20{
    width:20%;
}
.index-tbl {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}
.index-tbl th {
    white-space: nowrap;
    border: 1px solid #e0e1e4;
    height: 28px;
    color: #333;
    font-weight: 400;
    text-align: left;
    background: #f4f5f6;
    padding-left: 10px;
}
.index-tbl th:first-child {
    padding-left: 20px;
}
.index-tbl td {
    border: 1px solid #e0e1e4;
    height: 20px;
    text-align: left;
    background: #fff;
    padding: 4px 0 4px 10px;
    vertical-align: top;
    line-height: 20px;
}
.index-tbl .f_platform_cnt{
    max-width: 150px;
}
.index-tbl td:first-child {
    padding-left: 20px;
}
.index-tbl .no-data {
    height: 200px;
    text-align: center;
    vertical-align: middle;
}
.index-tbl tr:hover td {
    background: #EDF8FF;
}
.index-tbl tr:hover .no-data {
    background: #fff;
}
.index-tbl pre {
    width: 450px;
    white-space: normal;
    word-break: break-all;
    word-wrap:break-word;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    font-family: Tahoma, microsoft yahei, "微软雅黑", "宋体";
    color: #555;
}
.page-1180 .page-index-tbl pre {
    width: 490px;
}
.page-1380 .page-index-tbl pre {
    width: 610px;
}
.index-tbl .pre-auto {
    height: auto;
}
.manage-tbl pre {
    width: auto;
    height: auto;
}
.psr {
    position: relative;
}
.psa {
    position: absolute;
}
.index-tbl .psa {
    display: none;
    right: 10px;
    top: 4px;
    line-height: 20px;
}
.index-tbl a:hover {
    text-decoration: underline;
}
.tbl-loading {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
}
.tbl-loading .tbl-alphe {
    width: 100%;
    height: 600px;
    background: rgba(255, 255, 255, 0.7);
}
.tbl-loading .tbl-gif {
    position: absolute;
    padding-left: 40px;
    width: 200px;
    height: 100px;
    background: url(/is/resource/images/loading.gif) no-repeat 0 50%;
    top: 50px;
    left: 50%;
    line-height: 100px;
}
.selectbox {
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.selectbox select {
    outline-width: 0;
    border: 1px solid #cfcfcf;
    height: 25px;
    line-height: 25px;
    font: 12px/1.6 "微软雅黑", Arial, Helvetica, sans-serif;
    vertical-align: top;
    min-width: 98px;
    color: #666666;
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 6px;
}
.selectbox .triangle {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #8b939e;
    right: 8px;
    top: 48%;
}
.icon-add {
    width: 10px;
    height: 10px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    background: url(/report/resource/images/monitor/icon-add.png) no-repeat;
}
.btn-blue-m {
    border: 0 none;
    border-radius: 2px;
    background: #0087e6;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
    cursor: pointer;
}
.btn-blue-m:focus {
    outline: none;
}
.btn-blue-m:hover {
    background: #007dd5;
}
.btn-blue-m span {
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.btn-blue-m .icon-add {
    margin: 8px 3px 0 0;
}
.btn-gray-m {
    border-radius: 2px;
    background: #f4f5f7;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
    box-shadow: inset 0 0 0 1px rgba(209, 219, 229, 1);

}
.btn-gray-m:hover {
    background: #f9f9f9;
}
.btn-gray-m span {
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    color: #4f545e;
    font-size: 13px;
    font-weight: 600;
}
.pub-box-op {
    float: right;
}
.pub-box-op .btn-blue-m {
    margin: 4px 5px 0 0;
}